<h4>Find your favourites</h4>

<%= form_tag("/movies/search", method: "get", name: "search") do %>
  <div>
    <%= label_tag(:title, "Search by title:") %>
    <%= text_field_tag(:title) %>
  </div>
  <div>
    <%= label_tag(:director, "Search by director:") %>
    <%= text_field_tag(:director) %>
  </div>
  <div>
    <%= label_tag(:duration, "Search by runtime:") %>
    <%= select_tag(:duration, options_for_select([["-- Choose --", 0], ["Under 90 minutes", 1], ["Between 90 and 120 minutes", 2], ["Over 120 minutes", 3]])) %>
  </div>

  <%= submit_tag("Search") %>
<% end %>
