<%= link_to "Submit a movie!", new_movie_path %>
<hr>

<% @movies.each do |movie| %>
  <% if movie.uploaded_image.present? %>
    <%= image_tag movie.uploaded_image_url.to_s %>
  <% elsif movie.poster_image_url %>
    <%= image_tag movie.poster_image_url.to_s %>
  <% else %>
    <% # do nothing %>
  <% end %>

  <h2><%= link_to movie.title, movie_path(movie) %></h2>
  <h3><%= formatted_date(movie.release_date) %></h3>
  <h4>Directed by <%= movie.director %>  |  <%= movie.runtime_in_minutes %> minutes</h4>
  <p><%= movie.description %></p>

  <div>
    <% if movie.reviews.count > 0 %>
      <p>Average reviews: <%= movie.review_average %>/10 from <%= pluralize(movie.reviews.count, "review") %></p>
    <% else %>
      <p>This movie has not been reviewed yet.</p>
    <% end %>
  </div>

  <hr>
<% end %>

<%= render 'search_form' %>
