<h1>Rotten Mangoes</h1>
<%= link_to "Back to all movies", movies_path %>
<hr>

<h2><%= @movie.title %></h2> (<%= link_to "edit", edit_movie_path(@movie) %>)

<h3><%= @movie.release_date %></h3>

<h4>Directed by <%= @movie.director %>  |  <%= @movie.runtime_in_minutes %> minutes</h4>

<p><% @movie.description %></p>
